.loginWrapper {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.loginWrapper > div {
    max-width: 420px;
    min-width: 320px;
    margin: auto;
}

.image {
    width: 150px;
    min-height: 150px;
    margin: auto;
}