.dialogBoxOverlay {
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    padding: 30px;
    transition: opacity 0.6s ease-in;
    overflow: auto;
}

.fullScreen {
    background: rgba(0, 0, 0, 0.5);
}

.dialogOpen {
    opacity: 1;
}

.dialogRemove {
    opacity: 0;
    transition: opacity 0.6s ease-out;
}

.dialogBox {
    max-width: 650px;
    box-shadow: 1px 2px 8px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: auto;
}

.big .dialogBox {
    max-width: 1024px;
}

.dialogHeader {
    background-color: #fff;
    color: #000;
    text-align: left;
    padding: 15px 30px;
    z-index: 2;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    position: relative;
}

.dialogTitle {
    font-size: 1.1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dialogClose {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    line-height: 1;
    font-weight: 600;
    cursor: pointer;
}

.dialogClose .icons {
    padding: 15px 20px;
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.dialogClose .icons:hover {
    color: var(--black-color);
}

.dialogContentTitle {
    font-size: 1em;
    margin-top: 30px;
    color: var(--heavy-black-color);
    line-height: 1;
}

.dialogContent {
    position: relative;
    padding: 0px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    overflow-x: auto;
}

.bg_Color {
    background-color: rgb(238, 238, 238, 1)
}