:root {
    --inter: "Inter", sans-serif;
    --bree-serif: "Bree Serif", serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    font-family: var(--inter);
}

img {
    height: auto;
    width: 100%;
}

.profile-loading,
.suspense-page-loading {
    min-height: calc(100dvh - 71px);
    display: grid;
    place-items: center;
}